<section>
  <div class="container">
    <!-- ユーザ数分繰り返し表示 -->
    <!-- ポイントはidにindexを設定すること -->
    <!-- "selectedItem == index"を満たす場合のみselectedというクラス名が付与される -->
    <div
      *ngFor="let user of users; let index = index"
      class="image-wrap"
      id="index"
      [class.selected]="selectedItem == index"
      (click)="onSelectItem(index)"
    >
      <!-- 画像のパスを設定  -->
      <!-- ※srcを単方向データバインディングすること -->
      <img [src]="user.path" />
    </div>
  </div>
</section>

<section>
  <h2>選択したユーザー</h2>
  <!-- ユーザが選択されたら表示される -->
  <div *ngIf="selectedUser">
    <p>I D ：{{ selectedUser.id }}</p>
    <p>名前：{{ selectedUser.name }}</p>
    <p>年齢：{{ selectedUser.age }}</p>
  </div>
</section>
